*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Baseline {
    align-items: baseline;
}

.Top {
    align-items: flex-start;
}
.Center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Margins-vs {
    margin-top: 12px;
    margin-bottom: 12px;
}

.Margins-vm {
    margin-top: 16px;
    margin-bottom: 16px;
}

.Margins-vl {
    margin-top: 24px;
    margin-bottom: 24px;
}