*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Top {
    align-items: flex-start;
}

.Center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Column {
    flex-direction: column;
}

.Margins-v {
    margin-top: 12px;
    margin-bottom: 12px;
}

.Margins-vl {
    margin-top: 24px;
    margin-bottom: 24px;
}

.Height {
    height: 100%;
}