@keyframes pulsate {
    0% {
        transform: scale(0.5);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.Loader {
    margin: 60px;
    width: 30px;
    height: 30px;
    background-color: #000ece;
    border-radius: 50%;
    animation: pulsate 1s infinite;
}