.Artist-container {
    padding-left: 12px;
    padding-right: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 30px;
}

.Artist-heading {
    display: flex;
}

.Artist-heading img {
    margin-right: 24px;
    width: 200px;
    height: 200px;
}

.Artist-container h1 {
    text-align: left;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.01em;
}

.Artist-container h2 {
    font-size: 26px;
    line-height: 30px;
    font-weight: 500;
    letter-spacing: -0.01em;
    color: #0030AC;
}

.Artist-info h4 {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 12px;
}

.List-grid .Art-image {
    padding-bottom: 1px;
    transition: all .3s;
    margin: 12px;
}

@media only screen and (max-width: 768px) {
    .Artist-container {
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: 1fr;
    }

    .Artist-container h1,
    .Artist-info h4 {
        margin-top: 24px;
        text-align: center;
    }

    .Artist-info p {
        margin: 0 24px;
    }

    .Artist-container h2 {
        text-align: center;
    }

    .Artist-heading {
        flex-direction: column;
    }

    .Artist-heading img {
        max-width: 40%;
        margin: auto;
    }
}